body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

#header a {
    text-decoration: none; 
    color: black; 
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

h2 {
    margin: 0;
    text-decoration: none; 
    color: black; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-left: 10px;
}

#main {
    max-width: 600px;
    margin: auto;
    text-align: right;
}

.main-slogan {
    margin: 0; 
    text-align: left;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.main-slogan {
    text-align: left;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#developers {
    display: flex;
    flex: start;
    flex-wrap: wrap;
}

.developer {
    width: 39%; 
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
    margin: 15px;
}

.developer img {
    width: 100%;
    height: auto;
}

#programmingLanguageCheckboxesContainer {
    display: block;
    width: 100%; 
    box-sizing: border-box; 
}

@media only screen and (max-width: 600px) {
    #developers {
        justify-content: center; 
        margin: 0; 
    }

    .developer {
        width: 100%; 
    }

    .main-slogan {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }

    
    #filterForm,
    #filterForm label {
        text-align: left;
    }
}

#input-container {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    flex: wrap;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.column-one {
    display: flex;
    flex-direction: column;
}

.column-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the column */
    margin-top: 20px; /* Add some margin to separate it from the above content */
}



#languagesLabel {
    border-radius: 3px; 
    font-size: small;
    width: 450px; 
    height: 10px;
}

#languagesContainer {
    border: 1px solid #747474; 
    border-radius: 3px; 
    font-size: small;
    width: 450px;
    margin-bottom: 16px; 
    height: 32px;
    margin-top: 7px;
    margin-left: 30px;
}

#checkboxesContainer {
    display: none;
    font-size: small;
    width: 100%; 
}

#checkboxesContainer.expanded {
    display: block;
    font-size: small;
    width: 450px; 
    padding: 3px;
    margin: 5px;
    background-color: white;
    border: 1px solid #747474; ;
}

#checkboxesContainer div {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}

#filterButton{
    margin-top: 30px;
    margin-left: 30px;
    display: block;
}




